@charset "UTF-8";
@import url(./normalize.css);

/*  */
*::before, *::after{
    box-sizing: border-box;
}

.container{
background-color: silver;
height: 100vh;
}
.header, .visual, .main, .slogan, .footer{
    width: 940px;
    margin: 0 auto;
}
.header{
background-color: yellow;
height: 10vh;
}
.visual{
background-color: yellowgreen;
height: 10vh;
}
.main{
background-color: tomato;
height: 60vh;
display: flex;
flex-direction: row;
justify-content: space-around;
padding: 30px 15px;
flex-flow: row wrap;
box-sizing: border-box;
}
.group1{
background-color: violet;
width: 250px;
}
.group2{
background-color: teal;
width: 380px;
}
.group3{
background-color: skyblue;
width: 190px;
}
.slogan{
background-color: red;
height: 10vh;
}
.footer-bg{
background-color: purple;
/* display: flex;
flex-direction: row;
justify-content: center; */

}
.footer{
background-color: green;
height: 10vh;
}