@charset "utf-8";
@import url(./normalize.css);
/*  */
*::before, *::after{
    box-sizing: border-box;
}
/*  */
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
/* 숨김 콘텐츠 */
.a11y-hidden{
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
overflow: hidden;
}
a{
    text-decoration: none;
    color: inherit;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.4rem;
    color: #181818;
    background-color: #fff;
}
.container{
background-color: yellow;
height: 100vh;

}
.header, .visual, .main, .slogan, .footer{
    width: 940px;
    margin: 0 auto;
}
.header{
background-color: #ffff;
position: relative;
}
/* 로고 */
.logo{
    position: absolute;
    margin: 0;
    top: 45xp;
    left: 62px;
}
/* 멤버 링크 */
.member{
    margin: 0;
    padding: 2px 0;
    text-align: right;
    list-style-type: none;
    position: relative;
    font-size: 0;
    right: -10px;
}
.member li, .member a{
    display: inline-block;
}
.member li{
    font-size: 1.4rem;
}
.member li:nth-child(n+2)::before{
    content: ":";
    margin: 0 2px;
}
.member a{
    /* background-color: green; */
    text-transform: uppercase;
    padding: 8px 10px;
}
/* 메인 메뉴 */
.navigation{
    background-color: aqua;
    padding-bottom: 50px ;
}
.menu{
    list-style: none;
    padding-left: 229px;
    height: 47px;
    margin: 0;
    border-top: 2px solid #000;
    display: none;
}
.visual{
background-color: tomato;
height: 10vh;
}
.main{
background-color: violet;
display: flex;
flex-flow: row wrap;
justify-content: space-around;
padding: 30px 0;

}
.group1{
background-color: #fff;
width: 250px;
}
.group2{
width: 380px;
}

.group3{
width: 190px;
}
/* 유효성 검사 배너 */
.validation-list{
    list-style: none;
    margin: 25px 0 0 0;
    padding-left: 0;
}
.validation-list a{
    display: flex;
    border: 1px solid #aaa;
    border-radius: 35px;
    background: url(./images/validation_icon.png) no-repeat 20px 50%,
    #ccc linear-gradient(180deg, #bbb, #eee);
    margin-top: 10px;
    padding: 7px 10px 8px 45px;
}
/* 웹 관련 용어 */
.term{
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.term-heading{
    margin:0 ;
    font-size: 1.6rem;
}
.term-list{
    margin: 15px 0 0 0;
}
.term-list div{
 margin-top: 15px;
}
.term-list dd{
    margin-left: 0;
}
.term-list-subject, .term-list-brief{
    float: right;
    width: 145px;
}
.term-list-subject{
    color: #296897;
    font-weight: 400;
}
.term-list-thumbnail{
    float: left;
}
.term-list-thumbnail img{
    vertical-align: top ;
}
.term-list-brief{
    margin-top: 5px;
    line-height: 1.6;
}
/* 검색 */
.search-form{
    background:#ccc linear-gradient(180deg, #bbb, #eee);
    border: 1px solid #aaa;
    border-bottom: #fff;
    border-radius: 15px 15px 0 0;
    padding: 15px 25px 10px 25px;
}
.search-form fieldset{
    border: 0;
    padding: 0;
    margin: 0;
}
.search-form input[type="search"]{
    width: 200px;
    margin: 0 4px;
    padding: 1px 1px 1px .5em;
}
.search-form label, .search-form input[type="search"], .btn-search{
    vertical-align: middle;
}
.search-form label, .search-form input[type="search"], .btn-search{
    height: 24px;
    border: 1px solid #aaa;
    border-radius: 3px;
}
.btn-search{
    color: #fff;
    background-color: #333;
    padding: 0 8px;
    font-size: 1.2rem;
}
/* 공지사항 */
.board{
    background-color: #fff;
    position: relative;
    padding-top: 45px;
    width: 380px;
}
.notice-list, .notice-more, .pds-list, .pds-more{
    display: none;
}
.board-act .notice-list, .board-act .notice-more,
.board-act .pds-list, .board-act .pds-more{
    display: block !important;
}
.tab{
    /* 마진 값 */
    position: absolute;
    top: 0;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
}
.tab a{
    /* 블록요소, 패딩값 */
    display: block;
    padding: 8px 10px;
    border: 1px solid #aaa;
    border-radius: 5px 5px 0 0;
    /* 색깔 */
    color: #888;
    background:#ccc linear-gradient(180deg, #bbb, #eee);
}
.board-act .tab a{
    color:#ed552f ;
    border-color:#ed552f #ed552f #fff #ed552f;
    background: #fff;
}
.notice-heading{
    left: 0;
}
.pds-heading{
    left: 73px;
}
.notice-list, .pds-list{
    list-style: none;
    padding-left: 0;
    /* 마진 값 */
    margin: 0;
}
.notice-list li, .pds-list li{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom:8px ;
}
.notice-list a, .pds-list a{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-grow: 1;
}
.notice-more, .pds-more{
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 8px;
}
.notice-more .icon-plus, .pds-more .icon-plus{
    color: hsla(110,50%,30%,1);
}
/* 새소식 */
.news{
    background: #fff;
    position: relative;
}
.news::before{
    content: "";
    position: absolute;
    top: 35px;
    left: 0;
    width: 80%;
    height: 1px;
    background: linear-gradient(90deg, #bbb, #eee);
}
.news-heading{
    /* 마진값 */
    margin: 0 0 35px 0;
    color: #ed552f;
    font-size: 1.5rem;
}
/* 블록요소 */
.news-link{
    display: block;
}
.news-item{
    padding-left: 125px;
    position: relative;
    /* min-height: 187px; */
}
.news-item-subject{
    font-size: 1.4rem;
    margin: 0 0 5px 0;
    font-size: 400;
}
.news-item-brief{
    margin-top: 0;
    font-weight: bold;
    line-height: 1.6;
}
.news-item-thumbnail{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    text-align: center;
}
.news-item-thumbnail img{
box-shadow: 0 15px 15px 0 #aaa;
margin: 0 0 15px;
display: block;
}
.news-more{
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 8px;
}
.news-more .icon-plus{
    color: hsla(110,50%,30%,1) ;
}
/* 신규 이벤트 */
.gradient-box{
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background: #ccc linear-gradient(180deg, #bbb, #eee);
}
.event{
    border-bottom: 1px solid #777;
    position: relative;
}
.event-heading, .related-heading, .favorite-heading{
    margin: 0 0 10px 0;
    font-size: 1.5rem;
}
.point-color{
    color:#ed552f
}
.event-thumbnail, .event-brief{
    margin: 10px 0;
}
.event-thumbnail img{
    border: 1px #999;
    box-shadow: 5PX 5PX 0 0 #999;
}
/* .event-brief{
    font-size: 1.2rem;
    font-weight: 400;
    padding: 5px 0;
    line-height: 16px;
} */
.btn-event{
    position: absolute; 
    top: 0;
    right: 0; 
}
.btn-event-prve, .btn-event-next{  
vertical-align: top; 
background: url(./images/./back_forward.png)no-repeat;
width: 19px;
height: 18px;
border: 0;
padding: 18px 0 0 0;
cursor: pointer;
}
.btn-event-prve{
    background-position: 0 0;
}
.btn-event-next{
    background-position: 100% 0;
}
.related{
padding-top: 10px;
}
.related-list{
    list-style: none;
    padding-left:0;
    margin: 0;
    border:1px solid #777;
    height: 27px;
    overflow: hidden; 
    background: #fff; 
    border-radius: 5px;
    transition-duration: 400ms;
    transition-property: height, padding;
    transition-delay: 200ms, 0ms;
    transition-timing-function: ease-in-out;
}
.related-list li{
    height: 27px;
    padding: 2px;
}
.related-list a{
    display: block;
    line-height: 20px;
    text-indent: 1em;
}
.related-list:hover{
    height: 147px;
    padding: 10px;
}
/* 인기사이트 */
.favorite {
    /* padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background: #ccc linear-gradient(180deg, #bbb, #eee); */
    margin-top: 20px;
    position: relative;
}
.favorite-list{
    padding: 0;
    list-style: none;
    margin: 0;
}
.favorite-list li{
counter-increment: number;
    margin-top: 5px;
    display: flex;
    line-height: 1.5;
    align-items: center;
}
.favorite-list a{
    flex-grow:1;
    margin-right: 5px;
}
.favorite-list li::before{
    content: counter(number);
    display: inline-block;
    border: 1px solid #aaa;
    border-radius:2px;
    padding: 2px 10px;
    color: #fff;
    background: #888;
    font-size: 1.2rem;
}
.favorite-list em{
    background: url(./images/rank.png)no-repeat;
    width: 9px;
    height: 0px;
    padding-top: 11px;
    overflow: hidden;
}
.favorite-list .stop{
background-position: 0 50%;
}
.favorite-list .down{
    background-position:0 100%;
}
.favorite-more{
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 8px;
}
.favorite-more .icon-plus{
    color: hsla(110, 50%, 30%, 1);
    }    
.slogan{
background-color: yellow;
/* height: 10vh; */
position: relative;
}
.slogan-heading{
    background: url(./images/coffee.png)no-repeat;
    height: 83px;
    width: 110px;
    position: absolute;
    margin: 0;
}
.slogan-content{
    background-color: tomato;
    padding: 10px 120px;
    margin: 0;
    line-height: 25px;
}
.slogan-content q::after{
    content: "";
}
/* .readable-hidden{
    background-color: teal;
} */
.footer-bg{
background: #aaa;
}
.footer{
    background: linear-gradient(180deg, #bbb, #eee);
    padding: 10px 0;
    position: relative;
}
.footer-logo {
    position: absolute;
    width: 100px;
    height: 20px;
    top: -10px;
    left: -82px;
    
}
.guide-list{
    list-style: none;
    display: flex;
    border: 1px solid;
    border-radius: 10px;
    padding: 8px 8px;
    flex-direction: row;
    justify-content: space-evenly;
    width: 690px;
    margin: 0 auto;
    background: #181818;
}
.guide-list li{
    color: #fff;
}
.address{
   width: 680px;
   background-color: thistle;
   padding: 5px;
   margin: 0 auto;
   font-style:normal;
}
.copyright{
    background-color: tomato;
    text-transform: uppercase;
    padding: 5px;
    margin-left: 110px;
}
.badge{
    position: absolute;
    top: 0;
    right: 0;
}


