body{
    background-color: skyblue;
    font-size: 1.6rem;
}
.container{
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}
.appHeader, .appMain{
width: 1000px;
}
.appNavigation, .appFooter{
    width: 100%;
    }
.appHeader{
    display: flex;
    flex-flow: column wrap;
    height: 85px;
    justify-content: center;
}
/* 브랜드 */
.brand{
   margin: 0;
   display: flex;
   flex-flow: row wrap;
   align-items: center;
}
.brand a{
    display: block;
}
/* 메바 */
.memberOnly{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
}
.memberOnly li{
    align-items: center;
    padding: 5px 0;
}
.memberOnly li:last-child{
    margin-right: -0.715em;
  }
  .memberOnly a{
    padding: 0.5em 0.715em;
  }
/* 검색폼 */
fieldset{
    border: 0;
    margin: 0;
    padding: 0;
}
.searchForm{
    text-align: right;
}
input[name="search"]{
    width: 400px;
    border: 1px solid #aaa;
    border-radius: 5px;
    height: 35px;
    margin-right: 5px;
    padding-left: 1em;
    vertical-align: middle;
}
.buttonsearch{
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #988574;
    color: #fff;
    height: 35px;
}
/* 네비게이션 */
.appNavigation{
display: flex;
justify-content: center;
}
.menu__list{
    width: 1000px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
.buttonNone{
    display: none;
}
.appMain{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.book{
    width: 320px;
}
.news{
    width: 660px;
}
.board{
    width: 320px;
}
.favorite{
    width: 220px;
    order: 1;
}
.twitter{
    width: 420px;
}