.container{
    background-color: silver;
}
.appHeader{
    background-color: yellow;
    /* min-height: 15vh; */
}
.appNavigation{
    background-color: tan;
    /* min-height: 10vh; */
}
.appMain{
    background-color: darkblue;
    /* min-height: 60vh; */
}
.book{
    background-color: orange;
}
.news{
    background-color: pink;
}
.board{
    background-color: tomato;
}
.favorite{
    background-color: lime;
}
.twitter{
    background-color: skyblue;
}
.appFooter{
    background-color: hotpink;
    /* min-height: 15vh; */
}