body{
    font-size: 1.6rem;
}
.container{
    justify-content: center;
}
.appHeader, .appMain{
    width: 1000px;
}
.appNavigation, .appFooter{
    width: 100%;
}
.appHeader{
    /* height: 85px; */
    height: 105px;
    display: flex;
    flex-flow: column wrap;
/* position: relative; */
justify-content: center;
padding-bottom: 2rem;
/* margin-bottom: 1.5em; */
/* padding-top:15px; */
/* display: grid;
grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "brand member"
                       "brand search"; */
}
/* 로고 */
.brand{
    /* position: absolute;
    top: 50%;
    left: 0; */
    margin: 0;
    justify-content: center;
}
/* 멤버 서비스 */
.memberOnly{
    /* background-color: turquoise;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-bottom: 15px; */
}
/* 검색 폼*/
 .searchForm{
     text-align: right;
}
input[name="search"]{
    width: 400px;
}
.buttonsearch{
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #988574;
    color: #fff;
    height: 35px;
}
/* 메인 메뉴 float */
/* .appNavigation{
    background: #988574;
    padding: 2em 0;
}
.menu__item{
    float: left; 
    margin: 0 25px;
}
.menu__link{
    font-size: 1.15em;
    font-weight: 900;
    text-shadow:  1px 1px 0 #000, -1px -1px 0 #000;
}
.menu__subMenu{
    font-size: 1.05em;
    font-weight: 700;
    margin-top: 1.5em;
}
.menu__subMenu li{
    margin-top: 1em;
}
.menu__list{
    width: 1000px;
    margin: 0 auto; 
    color: #fff;   
}
.menu__list::after{
    content: "";
    clear: both;
    display: block;
}
.buttonBurger{
    display: none;
} */

/* 메인 메뉴 flex */
.menu{
    background:#988574;
    padding: 3rem 0;
    display: flex;
    justify-content: center;
}
.buttonBurger{
    display: none;
}
.menu__list{
    width: 1000px;
    color: #fff;
    display: flex;
    justify-content: space-around;
}

.menu__link{ 
font-size: 1.8rem;
font-weight: 900;
text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
outline: 0;
cursor: default;
}
.menu__subMenu{
    font-size: 1.7rem;
    font-weight: 700;
    margin-top: 2rem;
}
.menu__subMenu li{
    margin-top: 1.5rem;
}
/* 메인 콘텐츠 */
.appMain{
    justify-content: space-between;
}
.book{
    width: 320px;
}
.news{
    width: 660px;
}
.board{
    width: 320px;
}
.favorite{
    width: 220px;
    order: 1;
}
.twitter{
    width: 420px;
}
/* 푸터 */
.appFooter{
    text-align: center;
}
