/* Mobile Layout */
body{
  font-size: 1.5rem;
}
.container{
  flex-flow: row wrap;
}
.appHeader, .appMain, .appFooter{
  width: 100%;
}
/* 헤더 */
.appHeader{
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 1em;
  background: #38302e;
}
.brand, .memberOnly, .searchForm{
  width: 100%;
}
.brand, .searchForm{
  padding-left: 20px;
  padding-right: 20px;
}
/* 로고 */
.brand{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
/* 멤버 서비스 */
.memberOnly{
  order: -1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  padding-left: 20px;
  padding-right: 5px;
  background: #988574;
  color: #fff;
}
/* 검색 폼 */
[type="search"]{
  width: calc(100% - 50px);
  margin-right: 10px;
}

.buttonSearch{
  border: 0;
  padding: 0;
  background: transparent;
  width: 35px;
  height: 35px;
  color: #fff;
  position: relative;
}
.buttonSearch::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./../images/btn_search.png") no-repeat;
  background-size: 100% 100%;
}
/* 내비게이션 - 메인 메뉴 */

.menu{
  width: 100%;
}
.buttonBurger{
  width: 35px;
  height: 35px;
  position: absolute;
  top: 60px;
  right: 20px;
  overflow: hidden;
}
.burgerBar{
  position: absolute;
  left: 0;
  width: 100%;
  height: 20%;
  background: #fff;
  transition: all 0.2s;
}

.positionTop{
  top: 0;
}
.positionMiddle{
  top: 50%;
  transform: translateY(-50%);
}
.positionBottom{
  top: 100%;
  transform: translateY(-100%);
}

.isAct .positionTop{
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.isAct .positionMiddle{
  transform: translate(-100%, -50%);
}
.isAct .positionBottom{
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.menu__list{
  width: 70%;
  height: 100vh;
  background: rgba(0,0,0,0.85);
  color: #fff;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2em 1em;
  transform: translateX(-100%);
  transition: all 0.2s;
}
.isAct .menu__list{
  transform: none;
}
.menu__list a:hover, .menu__list a:focus{
  color: inherit;
}

.menu__item{
  margin: 1em 0;
}
.menu__link{
  display: inline-block;
  padding: 0.5em 1em;
}
.menu__subMenu{
  margin: 1em 0;
  display: none;
}
.menuAct .menu__subMenu{
  display: block;
}
.menu__subMenu a{
  display: block;
  padding: 0.5em 1em;
  margin-top: 0.5em;
}
.appMain{
  flex-flow: row wrap;
  padding: 1em 20px;
}
.book, .news, .board, .favorite, .twitter{
  width: 100%;
}

/* 푸터 */
.address span{
  display: block;
}