body{
    font-size: 1.4rem;
}

.appHeader, .appMain, .appFooter{
   width:100%;
}
/* 헤더 */
.appHeader{
    display: flex;
    flex-flow: row wrap;
    /* position: relative; */
    background-color: #38302e;
    padding-bottom: 1em;
}
.brand, .memberOnly, .searchForm, .appMain, .appFooter {
    width: 100%;
    padding-left:20px;
    padding-right: 20px;
    /* background-color: darkblue;
    position: absolute;
    top: 50px;
    left: 30px; */
}
.brand a{
   display: block;
}
.memberOnly{
    order: -1;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    color: #fff;
    background-color: rgb(152, 133, 116);
    /* background-color: darkcyan;
    text-align: right;
    padding: 10px;
    cursor: pointer; */
}
.memberOnly li{
    /* display: inline-block; */
    display: flex;
    align-items: center;
    padding: 5px 0;
}
.memberOnly li:last-child{
margin-right: -0.715em;
}
.memberOnly li span::before{
    /* content: "|";
    color: #fff; */
}
.memberOnly a{
    /* background-color: darkblue; */
    display: block;
    padding: 0.5em 0.715em;
    /* color: #fff;
    text-decoration: none;
    padding: 10px;
    font-weight: bold; */
}
.searchForm{
    /* background-color: darkgreen;
    padding-top: 140px;
    padding-bottom:20px ; */
}
input[name="search"]{
    border: 1px solid #aaa;
    border-radius: 5px;
    height: 35px;
    margin-right: 5px;
    padding-left: 1em;
    width: calc(100% - 45px);
    vertical-align: middle;
}
.searchForm input {
/* background-color: darkmagenta;
border: 0;
border-radius: 5px;
padding: 5px 40px 5px 5px; */
}
.buttonsearch{
    vertical-align: middle;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 30px;
    padding: 0;
    font-size: .8em;
    border: 0;
    background-color: transparent;
    position: relative;
/* background-image:none ;
background-color: darkorange; */
}
.buttonsearch::before{
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    background: url(./../images/btn_search.png);
    background-size: contain;
}
/* 네비게이션 */
.appNavigation{
position: relative;
}
/* 메뉴 제어 버튼 */
.buttonBurger{ 
cursor: pointer;  
 width: 35px;
 height: 35px;
 position: absolute;
 top: 60px;
 right: 20px;
 overflow: hidden;
}
.buttonNone{
    border: 0;
    padding: 0;
    background: transparent;
}
.round{
border-radius: 20px;
}
.positionTop{
top: 0;
}
.positionMiddle{
top: 50%;
transform: translateY(-50%);
}
.positionBottom{
top: 100%;
transform: translateY(-100%);
}
/* .menu--isAct 클래스가 버튼의 부모요소에 추가 되었을 때 */
.menu--isAct .positionTop{
top: 50%;
transform: translateY(-50%) rotate(45deg);
}
.menu--isAct .positionMiddle{

transform: translate(-105%, -50%);

}
.menu--isAct .positionBottom{
top: 50%;
transform: translateY(-50%) rotate(-45deg);
}
.burgurbar{
    position: absolute;
    left: 0;
    background: #fff;
    width: 100%;
    height: 20%;
    /* transform: .2s; */
}

/* 메인메뉴 */
.menu__list{
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    transform: translate(-100%);
    background: hsla(0, 0%, 0%, 0.75);
    color: #fff;
    padding: 2rem;
    /* transition: transform 0.2s ease-in-out; */
}
.menu__item{
    margin: 1rem 0;
}
.menu__link{
    font-size: 1.6rem;
    font-weight: 900;
    display: inline-block;
    padding: .5rem 1rem;
}
.menu--isAct .menu__list{
    transform: none;
    /* background: rgba(0,0,0,.9); */
    /* padding: 50px 0 0 40px; */
}
.menu__subMenu{
    display: none;
    font-size: 1.5rem;
    font-weight: 700;
}
.menu__subMenu li{
margin: 1rem 0;
}
.menu__subMenu a{
    display: block;
    padding: .5rem 1rem;
}
.menu__list--menuAct .menu__subMenu{
display: block;
}
/* 메인콘텐츠 */
.appMain{
    /* min-height: 70vh; */
    padding-bottom: 2em;
}
.book, .news, .board, .favorite, .twitter{
    width: 100%;
}
/* 푸터 */
.address span{
    display: block;
}